<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>carousel 1</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <section class="carousel">
    <div class="carousel__container">
      <div class="carousel-item">
        <img class="carousel-item__img"  src="https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="people metting">
        <div class="carousel-item__details">
          <div>
            <img src="icons/play-icon.png" alt="Play Music">
            <img src="icons/plus-icon.png" alt="Add Theme">
          </div>
          <p class="carousel-item__details--title">Titulo Descriptivo</p>  
          <p class="carousel-item__details--subtitle">2019 16+ 114min</p>  
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img"  src="https://images.pexels.com/photos/300960/pexels-photo-300960.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="people metting">
        <div class="carousel-item__details">
          <div>
            <img src="icons\play-icon.png" alt="Play Music">
            <img src="icons/plus-icon.png" alt="Add Theme">
          </div>
          <p class="carousel-item__details--title">Titulo Descriptivo</p>  
          <p class="carousel-item__details--subtitle">2019 16+ 114min</p>  
        </div>        
      </div>

    </div>
  </section>
</body>
</html>